body {
  margin: 0;
  padding: 0;
  background-color:#e4d9df;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size:30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1,button{
  width:100%;
  text-align: center;
}

img{
  height:50%;
  width:50%;
  display:block;
  margin:0 auto;
  margin-bottom:50px;
}
button{
  width:150px;
  height:50px;
  display:block;
  color:white;
  background-color:#ec6260;
  font-family: inherit;
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: 10px;
  border:0;
}


h1{
  font-size:50px;
  margin-bottom:50px;

}